* {
  font-family: sans-serif;
  color: #ffff;
}

body {
  background-color: #00171f;
}

.app-title {
  text-align: center;
}

/* CURRENCY CONVERTER */

.currency-converter {
  /* display: none; */
  background-color: #252525;
  float: left;
  width: 55%;
  height: 19rem;
  margin-left: 10%;
  border-radius: 20px;
}

.currency-converter-container {
  display: inline-block;
  margin-left: 3rem;
  margin-top: 1rem;
}

.currency-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: #e2e2e2;
}

.currency-options {
  padding-left: 16px;
  width: 80px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: #e2e2e2;
}

#convert-button {
  margin-top: 5px;
  margin-left: 157px;
  text-align: center;
  width: 402px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: #e2e2e2;
}

.exchange-rate {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 15%;
}

/* NEWSFEED */

.news-feed {
  /* display: none; */
  position: absolute;
  left: 70%;
  margin-right: 10rem;
}

.article-title {
  margin: 10rem;
}

/* COINLIST */
.coin-data {
  top: 45%;
  float: left;
}

.coin-list {
  top: 60%;
  position: absolute;
  width: 70%;
  color: #ffff;
}

.coin-search {
  justify-content: center;
  position: absolute;
  top: 43%;
  left: 15%;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}
